# Java/Maven
target/
*.class
*.log
*.iml
*.idea/
*.project
*.settings/
*.classpath

# Node (se houver front)
node_modules/

# SO
.DS_Store
Thumbs.db

# Env/Secrets
infra/.env
.env

infra/.storage_secrets