trigger:
  branches:
    include:
      - main

variables:
- group: vg-motohub

pool:
  name: self-hosted-linux

stages:
- stage: Build
  displayName: BuildTestPublish
  jobs:
  - job: BuildTest
    steps:
    - task: Maven@3
      inputs:
        mavenPomFile: app/pom.xml
        goals: clean test package
        publishJUnitResults: true
        testResultsFiles: '**/surefire-reports/TEST-*.xml'
        javaHomeOption: JDKVersion
        jdkVersionOption: 1.17
        jdkArchitectureOption: x64
    - task: PublishBuildArtifacts@1
      inputs:
        pathToPublish: app/target
        artifactName: drop
        publishLocation: Container

- stage: Image
  displayName: BuildAndPushDocker
  dependsOn: Build
  jobs:
  - job: BuildAndPushImage
    steps:
    - task: Docker@2
      inputs:
        containerRegistry: sc-acr-motohub
        repository: motohub
        command: buildAndPush
        Dockerfile: app/Dockerfile
        buildContext: app
        tags: |
          $(Build.BuildId)
          latest
