trigger:
  branches:
    include:
      - main

variables:
- group: vg-motohub

pool:
  name: self-hosted-linux

stages:
- stage: Build
  displayName: BuildTestPublish
  jobs:
  - job: BuildTest
    steps:
    - script: |
        java -version
        echo "JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64"
      displayName: CheckJava
    - task: Maven@3
      inputs:
        mavenPomFile: app/pom.xml
        goals: clean test package
        options: -Dspring.profiles.active=test
        publishJUnitResults: true
        testResultsFiles: '**/surefire-reports/TEST-*.xml'
        javaHomeOption: Path
        jdkDirectory: /usr/lib/jvm/java-17-openjdk-amd64
        jdkArchitectureOption: x64
    - task: PublishBuildArtifacts@1
      inputs:
        pathToPublish: app/target
        artifactName: drop
        publishLocation: Container

- stage: Image
  displayName: BuildAndPushDocker
  dependsOn: Build
  jobs:
  - job: BuildAndPushImage
    steps:
    - task: AzureCLI@2
      inputs:
        azureSubscription: sc-azurerm-motohub
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          az acr build -r $(ACR_NAME) -t motohub:$(Build.BuildId) -t motohub:latest app
