trigger:
  branches:
    include:
      - main

variables:
- group: vg-motohub

pool:
  name: self-hosted-linux

stages:
- stage: Build
  displayName: BuildTestPublish
  jobs:
  - job: BuildTest
    steps:
    - script: |
        java -version
        echo "JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64"
      displayName: CheckJava
    - task: Maven@3
      inputs:
        mavenPomFile: app/pom.xml
        goals: clean test package
        options: -Dspring.profiles.active=test
        publishJUnitResults: true
        testResultsFiles: '**/surefire-reports/TEST-*.xml'
        javaHomeOption: Path
        jdkDirectory: /usr/lib/jvm/java-17-openjdk-amd64
        jdkArchitectureOption: x64
    - task: PublishBuildArtifacts@1
      inputs:
        pathToPublish: app/target
        artifactName: drop
        publishLocation: Container

- stage: Image
  displayName: BuildAndPushDocker
  dependsOn: Build
  jobs:
  - job: BuildAndPushImage
    steps:
    - task: AzureCLI@2
      inputs:
        azureSubscription: sc-azurerm-motohub
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          ACR_LOGIN_SERVER=$(az acr show --name $(ACR_NAME) --query loginServer -o tsv)
          ACR_USER=$(az acr credential show --name $(ACR_NAME) --query username -o tsv)
          ACR_PASS=$(az acr credential show --name $(ACR_NAME) --query 'passwords[0].value' -o tsv)
          echo "$ACR_PASS" | sudo -n docker login "$ACR_LOGIN_SERVER" --username "$ACR_USER" --password-stdin
          sudo -n docker build -t "$ACR_LOGIN_SERVER/motohub:$(Build.BuildId)" -t "$ACR_LOGIN_SERVER/motohub:latest" app
          sudo -n docker push "$ACR_LOGIN_SERVER/motohub:$(Build.BuildId)"
          sudo -n docker push "$ACR_LOGIN_SERVER/motohub:latest"