trigger:
  branches:
    include:
      - main

variables:
- group: vg-motohub

pool:
  name: self-hosted-linux

stages:
- stage: Build
  displayName: BuildTestPublish
  jobs:
  - job: BuildTest
    steps:
    - script: |
        java -version
        echo "JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64"
      displayName: CheckJava
    - task: Maven@3
      inputs:
        mavenPomFile: app/pom.xml
        goals: clean test package
        options: -Dspring.profiles.active=test
        publishJUnitResults: true
        testResultsFiles: '**/surefire-reports/TEST-*.xml'
        javaHomeOption: Path
        jdkDirectory: /usr/lib/jvm/java-17-openjdk-amd64
        jdkArchitectureOption: x64
    - task: PublishBuildArtifacts@1
      inputs:
        pathToPublish: app/target
        artifactName: drop
        publishLocation: Container

- stage: Image
  displayName: BuildAndPushDocker
  dependsOn: Build
  jobs:
  - job: BuildAndPushImage
    steps:   
    - script: |
        whoami
        id
        groups
        getent group docker
        ls -l /var/run/docker.sock
        stat -c '%U %G %a' /var/run/docker.sock
        env | sort | sed -n '1,120p'
      displayName: DiagnoseUserAndSocket

    - script: |
        echo DOCKER_HOST=${DOCKER_HOST}
        docker version
      displayName: CheckDocker
    
    - task: Docker@2
      inputs:
        containerRegistry: sc-acr-motohub
        repository: motohub
        command: buildAndPush
        Dockerfile: app/Dockerfile
        buildContext: app
        tags: |
          $(Build.BuildId)
          latest
